@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap");

/* shared style start here */
* {
  font-family: "Open Sans";
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1460px;
  width: 76%;
  margin: 0 auto;
}
.btn-primary {
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: rgb(253, 110, 10);
  border: 0;
  cursor: pointer;
}
p {
  color: rgb(117, 117, 117);
  font-size: 1.125rem;
  font-weight: 400;
}
/* shared style end here */
/* header related work start */
header {
  background: rgb(255, 248, 243);
  background-image: url("/images/header_bg.png"), url("/images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, bottom left;
}
/* nav related style starts here */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container h3 {
  font-size: 2.8rem;
  font-weight: 800;
  color: rgb(24, 24, 24);
}
#strong {
  color: rgb(253, 110, 10);
}
.nav-list > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list li {
  list-style: none;
  margin-right: 3.1rem;
}
.nav-list a {
  color: rgb(71, 71, 71);
  font-size: 1.25rem;
  font-weight: 400;
  text-decoration: none;
}
/* nav related style end here */
/*Greeting container start here */
.greeting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 0px 200px;
}
.greeting {
  max-width: 585px;
}
.banner {
  max-width: 584px;
}
.greeting h4 {
  color: rgb(71, 71, 71);
  font-size: 45px;
  font-weight: 600;
}
.greeting h3 {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 85px;
  font-weight: 700;
}
.btn-secondary {
  color: rgb(253, 110, 10);
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: rgb(233, 223, 223);
  border: 0;
  cursor: pointer;
}
.banner-img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}