@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap");

/* shared style start here */
* {
  font-family: "Open Sans";
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1460px;
  width: 76%;
  margin: 130px auto;
}
.btn-primary {
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: rgb(253, 110, 10);
  border: 0;
  cursor: pointer;
}
p {
  color: rgb(117, 117, 117);
  font-size: 1.125rem;
  font-weight: 400;
}
.section-heading {
  color: rgb(24, 24, 24);
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
/* shared style end here */
/* header related work start */
header {
  background: rgb(255, 248, 243);
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, bottom left;
}
/* nav related style starts here */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 230px;
}
.nav-container h3 {
  font-size: 2.8rem;
  font-weight: 800;
  color: rgb(24, 24, 24);
}
#strong {
  color: rgb(253, 110, 10);
}
.nav-list > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list li {
  list-style: none;
  margin-right: 3.1rem;
}
.nav-list a {
  color: rgb(71, 71, 71);
  font-size: 1.25rem;
  font-weight: 400;
  text-decoration: none;
}
/* nav related style end here */
/*Greeting container start here */
.greeting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 0px 200px;
}
.greeting {
  max-width: 585px;
}
.banner {
  max-width: 584px;
}
.greeting h4 {
  color: rgb(71, 71, 71);
  font-size: 45px;
  font-weight: 600;
}
.greeting h3 {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 85px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 15px;
}
.btn-secondary {
  color: rgb(253, 110, 10);
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: rgb(233, 223, 223);
  border: 0;
  margin-top: 20px;
  cursor: pointer;
}
.banner-img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
/* about section starts here */
.about-me {
  border-radius: 10px;
  background: rgb(255, 248, 243);
  text-align: center;
  padding: 130px 150px;
}
.contact {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 30px;
}
.contact .contact-name {
  font-size: 20px;
  font-weight: 700;
  color: rgb(117, 117, 117);
  margin-top: 20px;
}
.contact .contact-info {
  font-size: 20px;
  font-weight: 700;
  color: rgb(71, 71, 71);
} /* about section ends here */
/*what id do related style starts here */
.what-i-do-container {
  text-align: center;
}
.what-i-do {
  padding: 0px 100px 0px 100px;
  text-align: center;
}
.skill-container {
  display: flex;
  gap: 25px;
  margin-top: 50px;
}
.skill {
  text-align: left;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
}
.skill img {
  object-fit: cover;
  max-width: 100%;
}
.skill .skill-name {
  color: rgb(24, 24, 24);
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}
/*what id do related style ends here */
/* Resume related styles starts here */
.resume {
  display: flex;
  text-align: left;
  gap: 20px;
}
.resume-education,
.resume-experience h3 {
  color: rgb(71, 71, 71);
  font-size: 30px;
  font-weight: 700;
}
.resume-details h4 {
  color: rgb(71, 71, 71);
  font-size: 25px;
  font-weight: 700;
  margin-top: 15px;
}
.resume-details h6 {
  color: rgb(117, 117, 117);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
#resume-btn {
  text-align: center;
  margin-top: 30px;
}
/* Resume related styles ends here */

/* footer related styles starts here */
footer {
  background-color: rgb(255, 248, 243);
}

.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-icon,
.message-section {
  width: 48%;
}

.footer-heading {
  color: rgb(24, 24, 24);
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}

.social-icons {
  margin-top: 20px;
}

.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-size: cover;
}

.facebook {
  background-image: url("../images/icons/facebook.png");
}
.twitter {
  background-image: url("../images/icons/twitter.png");
}
.instagram {
  background-image: url("../images/icons/insta.png");
}

.message-section {
  padding: 40px;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  margin-bottom: 15px;
  padding: 18px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

textarea {
  height: 130px;
}

.message-btn {
  align-self: flex-start;
}
/* footer related styles ends here */
